body{
margin:0;
font-family:-apple-system;
background:linear-gradient(135deg,#ffd6e7,#fff);
overflow:hidden;
}

/* LOGIN GLASS */
#login{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.glass{
backdrop-filter:blur(15px);
background:rgba(255,255,255,0.3);
padding:20px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:10px;
}

/* SCREEN SYSTEM */
.screen{
position:absolute;
top:0;
left:0;
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
opacity:0;
transform:translateX(40px);
transition:0.35s ease;
pointer-events:none;
}

.screen.active{
opacity:1;
transform:translateX(0);
pointer-events:auto;
}

/* HOME */
.grid{
display:flex;
gap:15px;
}

.card{
width:120px;
height:150px;
border-radius:20px;
overflow:hidden;
background:rgba(255,255,255,0.6);
backdrop-filter:blur(10px);
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
transition:0.2s;
}

.card:active{
transform:scale(0.95);
}

.card img{
width:100%;
height:100px;
object-fit:cover;
}

/* VOICE */
.voiceGrid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
width:90%;
}

.voiceCard{
background:rgba(255,255,255,0.7);
backdrop-filter:blur(10px);
height:120px;
border-radius:18px;
display:flex;
justify-content:center;
align-items:center;
transition:0.2s;
}

.voiceCard:active{
transform:scale(0.95);
}

/* MEMORY */
.gallery{
column-count:5;
column-gap:6px;
padding:10px;
height:100vh;
overflow-y:auto;
}

.gallery img,
.gallery video{
width:100%;
border-radius:12px;
margin-bottom:6px;
}

/* ELI VIDEO */
.videoWrap{
width:100%;
display:flex;
justify-content:center;
}

video{
width:90%;
border-radius:15px;
}

/* BACK */
.back{
position:absolute;
top:10px;
left:10px;
font-size:28px;
z-index:10;
}

/* VIEWER */
#viewer{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:flex;
justify-content:center;
align-items:center;
}

#viewer img{
max-width:90%;
border-radius:10px;
}
